@{meta(model.name, model.perex, model.tags.join(', '))}
@{sitemap('detail')}
@{sitemap_replace('category', model.category, model.category_linker, true)}
@{sitemap_replace('detail', model.name, n => n.format(model.category_linker, model.linker))}
@{author(model.author)}

<input type="hidden" id="idblock" value="@{model.id}" />

<div class="markdown">
	@{if model.picture}<div><img src="/download/@{model.picture}" class="img-responsive img-rounded" alt="@{model.name}" /></div>@{fi}
	<br />
	<div class="fs11 silver"><i class="fa fa-clock-o mr5"></i><span class="time">@{model.datecreated}</span>@{if model.author}, @{model.author}@{fi}</div>
	@{!model.body}
</div>

@{if model.others.count}
	<div class="others hidden-xs">
		<h2><i class="fa fa-book"></i>@(More @{model.category})</h2>
		<div>
		@{foreach m in model.others.items}
			<a href="@{sitemap_url('detail', m.category_linker, m.linker)}"><i class="fa fa-caret-right"></i>@{m.name}<span class="time">@{m.datecreated}</span></a>
		@{end}
		</div>
		<a href="https://my.totaljs.com" class="membership" target="_blank">@(Join us <b>for free</b>)</a>
	</div>
@{fi}

@{if model.comments}
	<script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
	<!-- THE COMMENTS WILL BE LOADED WHEN THE BROWSER SCROLL ON THIS POSITION -->
	<div data-jc="lazyload" data-init="init_comments" id="comments"></div>
	@{section script}
	<script>
		// Method is executed only onetime
		function init_comments() {
			AJAX('GET /api/comments/{0}/'.format($('#idblock').val()), 'comments');
			IMPORT("@{'/templates/comments.html'}", '#comments');
		}
	</script>
	@{end}
@{fi}