<div class="row">
@{foreach m in model.items}
	<div class="col-md-6">
		<div class="listing">
			@{if m.picture }<a href="@{sitemap_url('detail', m.category_linker, m.linker)}" class="picture"><img src="/download/@{m.picture}" class="img-responsive img-rounded" alt="@{m.name}" /></a>@{fi}
			<a href="@{sitemap_url('detail', m.category_linker, m.linker)}" class="title">@{m.name}</a>
			<a href="@{sitemap_url('category', m.category_linker)}" class="category">@(Category:) <b>@{m.category}</b></a>
			<div class="date"><i class="fa fa-clock-o"></i><span class="time">@{m.datecreated}</span>@{if m.countcomments}<b class="red"><i class="fa fa-comments"></i>@{m.countcomments}@{fi}</b></div>
			<p>@{m.perex}</p>
		</div>
	</div>
@{end}
</div>

@{if !model.count}
	<div class="row" style="margin-top:50px;margin-bottom:100px">
		<div class="m ui-center">
			<div><span class="fa fa-search fa-5x"></span></div>
			<br />
			<br />
			<div>
				@(Currently we don't have any items sufficient for search criteria.)<br />
				<b>@(Try to visit our page later)</b>.
			</div>
		</div>
	</div>
@{fi}