<hr />
<div class="caption"><i class="fa fa-comments-o"></i>@(Join the discussion)</div>
<div data-jc="visible" data-jc-path="comments.items" data-if="value && value.length">
	<div data-jc="repeater" data-jc-path="comments.items" class="comments">
		<script type="text/html">
			<div>
				<div class="comment{{ if admin }} comment-admin{{ fi }}">
					<i class="fa fa-caret-up"></i>
					<div class="user">{{ user }}</div>
					<div class="date">{{ datecreated | time }}</div>
					<div class="body">{{ body | comment }}</div>
				</div>
			</div>
			<br />
		</script>
	</div>
	<br />
</div>

<div data-jc="visible" data-jc-path="comment.response" data-if="value && value.success" class="hidden">
	<div class="message-success"><i class="fa fa-check-circle mr5"></i>@(Thank you, your comment has been added and it waits for confirmation.)</div>
</div>

<div data-jc="visible" data-jc-path="comment.response" data-if="!value || !value.success" class="hidden">
	<div class="row">
		<div class="col-md-4 m">
			<div data-jc="textbox" data-jc-path="comment.user" data-required="true" data-maxlength="30" data-jc-value="''">@(Your name)</div>
		</div>
		<div class="col-md-4 m">
			<div data-jc="textbox" data-jc-path="comment.email" data-required="true" data-maxlength="120" data-jc-type="email" data-jc-value="'@'">@(Email address)</div>
		</div>
	</div>
	<div data-jc="textarea" data-jc-path="comment.body" data-required="true" data-jc-value="''" data-height="150px">@(Message)</div>
	<br />
	<div data-jc="validation" data-jc-path="comment">
		<div class="row">
			<div class="col-md-4 m">
				<button class="button" disabled="disabled" data-jc="click" data-jc-path="#submit">@(SUBMIT)</button>
			</div>
		</div>
	</div>
</div>

<script>

	var commentuser = CACHE('user');
	if (commentuser) {
		comment = {};
		comment.user = commentuser.user;
		comment.email = commentuser.email;
	}

	OPERATION('submit', function() {
		comment.idblog = $('#idblock').val();
		CACHE('user', { user: comment.user, email: comment.email }, '1 year');
		SETTER('loading', 'show');
		AJAX('POST /api/comments/', comment, function(response) {
			SETTER('loading', 'hide', 100);
			SET('comment.response', response);
			DEFAULT('comment.*');
		});
	});
</script>