/*auto*/

$font    : 'Source Sans Pro';

.CMS_hidden { display: none; }

body { background-color: #F5F7FA; padding: 0; color: gray; font-smoothing: antialiased; }
form { padding: 0; margin: 0; }

.content { background-color: white; border-radius: 4px; box-shadow: 0 3px 10px rgba(0,0,0,0.05); padding: 20px 0; margin: 30px 0 20px; }
.content-border { border-right: 1px solid #F0F0F0; min-height: 400px; }
.panel { padding: 0 25px 0 10px; }
.caption { font-size: 14px; text-transform: uppercase; color: black; font-weight: bold; margin-bottom: 15px; font-family: $font; }
.caption .fa { margin-right: 5px; }
footer { text-align: center; font-size: 11px; color: #A0A0A0; margin-bottom: 20px; }

.ui-center .img-responsive { margin-left: auto; margin-right: auto; }

.menu { border-bottom: 1px solid #F0F0F0; border-top: 1px solid #F0F0F0; margin: 0 0 5px; text-align: center; background: linear-gradient(white,#F8F8F8); }
.menu a { display: block; color: black; padding: 15px 0; position: relative; display: inline-block; margin-left: 25px; text-transform: uppercase; font-weight: bold; font-family: $font; font-size: 16px; }
.menu a:first-child { margin-left: 0; }
.menu a:hover { text-decoration: none; color: gray; }
.menu .fa { margin-right: 5px; }
.menu span { float: right; font-size: 11px; margin: 3px 0 0 0; }

.search { border: 2px solid #E0E0E0; background-color: white; padding: 5px; }
.search input { border: 0; padding: 0; background-color: white; border: 0; outline: 0; width: 100%; font-size: 12px; }
.search-icon { float: left; text-align: center; width: 25px; font-size: 14px; }
.search-input { margin-left: 30px; }

a.tag { display: inline-block; position: relative; text-decoration: none; background-color: #E4EDF4; color: #586D8D; border-radius: 3px; font-size: 12px; padding: 5px 10px 3px; border-bottom: 2px solid #D3E5F4; }
a.tag:hover { background-color: #D5E7F4; }
.tags-container a.tag { margin: 0 8px 8px 0; }

.breadcrumb { padding: 0; color: silver; display: block; height: 34px; overflow: hidden; margin: 0 25px; }
.breadcrumb ul { position: relative; display: inline-block; list-style-type: none; margin: 0; padding: 0; font-size: 11px; }
.breadcrumb li { position: relative; display: inline-block; max-width: 250px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; vertical-align: middle; }
.breadcrumb a { color: #A0A0A0; }
.breadcrumb li .fa { margin: 0 6px 0 10px; }

.help { font-size: 11px; color: #AAB2BD; margin-top: 7px; line-height: 13px; }
.help code { font: normal normal 11px Arial; background-color: #F0F0F0; padding: 2px 5px; border-radius: 4px; }

.padding { padding: 0 25px 0; }

.m { margin-bottom: 15px; }
.mr5 { margin-right: 5px; }
.mr15 { margin-right: 15px; }
p { margin: 0; }
.b { font-weight: bold; }
.cl { clear: both; }
.center { text-align: center; margin: 0 auto; }
.red { color: #D63B32; }
.npt { padding-top: 0; }
.npl { padding-left: 0; }
.npb { padding-bottom: 0; }
.nmt { margin-top: 0; }
.nmb { margin-bottom: 0; }

.latest { font-size: 12px; }
.latest > div { border-bottom: 1px solid #F0F0F0; padding: 5px 0; }
.latest a { display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.latest .category a { font-size: 11px; color: gray; }
.latest .user { font-size: 11px; color: gray; }
.latest .date { font-size: 11px; color: #A0A0A0; }
.latest .fa { margin-right: 5px; }

.social { margin-bottom: 10px; }
.social a { font-size: 30px; color: silver; text-align: center; position: relative; display: inline-block; margin: 0 10px 0 0; }
.social a:hover { color: black; }

.newsletter-text { font-size: 12px; line-height: 16px; margin-bottom: 10px; }
.newsletter { background-color: #F0F0F0; }
.newsletter-input { margin-right: 40px; padding: 0 10px 0; background-color: #F0F0F0; }
.newsletter-input input { width: 100%; background-color: transparent; border: 0; font-size: 12px; height: 30px; outline: 0; color: black; }
.newsletter-button { width: 40px; float: right; margin: 0; padding: 0; }
.newsletter-button button { width: 100%; background-color: #D0D0D0; border: 0; height: 30px; }
.newsletter-button button:hover { background-color: black; color: white; }
.newsletter-button .fa { font-size: 14px; }
.newsletter-success { color: #7B9B46 !important; }

.pagination { padding: 15px 0 5px; text-align: center; }
.pagination nav { margin: 10px 0 15px; }
.pagination nav a { position: relative; display: inline-block; width: 30px; padding: 5px 0; text-align: center; font-size: 16px; border-radius: 3px; }
.pagination nav .selected { background-color: #F0F0F0; color: silver; }

.linkbutton { display: block; border: 2px solid #E0E0E0; color: #9F9F9F; padding: 14px 0; text-align: center; text-transform: uppercase; font-size: 18px; font-family: $font; border-radius: 4px; }
.linkbutton:hover { border-color: silver; text-decoration: none; color: black; }
.linkbutton .fa { margin-right: 5px; }
.linkbutton img { vertical-align: middle; margin: 1px 10px 0 0; }
.linkbutton-small { padding: 10px 0; font-size: 16px; }

.message-success { background-color: #8CC152; color: white; padding: 18px 20px; text-align: center; font-size: 16px; border-radius: 4px; }
.message-success .fa { margin-right: 10px; }
.bg-smoke { background-color: #F8F8F8; }

.button { padding: 15px 0; width: 100%; font-size: 14px; }
.button-small { padding: 10px 0; font-size: 14px; }

.silver { color: #A0A0A0; }
.black { color: black; }
.green { color: #8CC152; }
.blue { color: #377BB5; }

#loading { background: rgba(255,255,255,0.9) url(../img/preloader.gif) no-repeat 50% 50%; position: fixed; left: 0; right: 0; bottom: 0; top: 0; z-index: 10; }
.fs11 { font-size: 11px; line-height: 14px; }
.table-repsonsive-label { float: left; display: none; }

.smiles { background-image: url(../img/smilefy.png); width: 18px; height: 18px; position: relative; display: inline-block; vertical-align: middle; margin-top: -1px; }
.smiles-0 { background-position: 0 0; }
.smiles-1 { background-position: -18px 0; }
.smiles-2 { background-position: -36px 0; }
.smiles-3 { background-position: -54px 0; }
.smiles-4 { background-position: -72px 0; }
.smiles-5 { background-position: -90px 0; }
.smiles-6 { background-position: -108px 0; }
.smiles-7 { background-position: -126px 0; }
.smiles-8 { background-position: -144px 0; }
.smiles-9 { background-position: -162px 0; }
.smiles-10 { background-position: -180px 0; }
.smiles-11 { background-position: -198px 0; }
.smiles-12 { background-position: -216px 0; }

.quicknavigation a { border-left: 1px solid #F0F0F0; padding: 5px 15px; font-size: 12px; }
.quicknavigation a:first-child { border-left: 0; }
.quicknavigation .fa { margin-right: 5px; }

.listing { border-bottom: 1px solid #F0F0F0; padding-bottom: 20px; }
.listing .picture { overflow: hidden; display: block; border-radius: 4px; margin-bottom: 10px; }
.listing .title { font-family: $font; font-size: 18px; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.listing .title:hover { text-decoration: none; color: #3F97E1; }
.listing p { font-size: 12px; margin: 10px 0 15px 0; color: #A0A0A0; height: 32px; overflow: hidden; }
.listing .date { font-size: 11px; color: #A0A0A0; height: 15px; }
.listing .date b { margin-left: 10px; }
.listing .date .fa { margin-right: 5px; }
.listing .category { font-size: 12px; color: gray; margin-top: 3px; display: block; }

.comments { padding: 25px 15px 5px; background-color: #F8F8F8; border-radius: 4px; }
.comment { background-color: white; border: 2px solid #D0D0D0; padding: 15px; font-size: 12px; border-radius: 4px; position: relative; display: inline-block; }
.comment .user { font-weight: bold; color: black; font-size: 14px; line-height: 16px; }
.comment .date { font-size: 11px; color: #A0A0A0; height: 15px; }
.comment .body { margin-top: 5px; line-height: 16px; }
.comment .fa-caret-up { position: absolute; top: -22px; color: #D0D0D0; font-size: 30px; }
.comment-admin { border-color: #ED5565; }
.comment-admin .fa-caret-up { color: #ED5565; }

.others { padding: 20px; border-radius: 4px; background-color: #F8F8F8; }
.others div > a { display: block; border-top: 1px solid #E0E0E0; padding: 3px 0; transition: all 0.4s; font-size: 12px; }
.others div > a:first-child { border-top: 0; }
.others div > a:hover { text-decoration: none; color: #457AB2; padding-left: 10px; background-color: white; }
.others div > a .fa { margin-right: 5px; }
.others div > a span { font-size: 11px; background-color: #E5EDF3; padding: 1px 4px; border-radius: 4px; margin-left: 6px; color: #586D8D; text-decoration: none !important; }
.others h2 { font-family: $font; font-size: 18px; color: black; margin: 0 0 15px; }
.others h2 .fa { margin-right: 8px; }
.others .membership { margin-top: 10px; display: inline-block; position: relative; padding: 5px 20px; border-radius: 3px; background-color: #EDBC5A; text-decoration: none; font-size: 12px; color: white; }
.others .membership:hover { background-color: #F8CE69; }

@media(max-width: 992px) {
	.content-border { border-right: 0; border-bottom: 5px solid #E0E0E0; margin: 30px 0; }
}

@media(max-width: 767px) {
	.panel { padding-left: 25px; }
	.links > div { border-bottom: 0; }
	h1, h2 { font-size: 25px; }
	td.hidden-xs { display: none !important; }
	.menu a { display: block; text-align: left; margin: 0; padding: 5px 20px; border-bottom: 1px solid #E0E0E0; }
}