<hr />
@{if global.commentslatest && global.blogslatest.length}
<div class="caption"><i class="fa fa-book"></i>@(Latest blogs)</div>
<div class="latest">
@{foreach m in global.blogslatest}
	<div>
		<a href="@{sitemap_url('detail', m.category_linker, m.linker)}" class="b">@{m.name}</a>
		<div class="category"><a href="@{sitemap_url('category', m.category_linker)}">@{m.category}</a></div>
		<div class="date"><i class="fa fa-clock-o"></i><span class="time">@{m.datecreated}</span></div>
	</div>
@{end}
</div>
@{fi}

@{if global.commentslatest && global.commentslatest.length}
	<br />
	<div class="caption"><i class="fa fa-comments-o"></i>@(Latest comments)</div>
	<div class="latest">
	@{foreach m in global.commentslatest}
		<div>
			<a href="@{sitemap_url('detail', m.category_linker, m.linker)}#comments">@{m.body}</a>
			<div class="user">@{m.user}</div>
			<div class="date"><i class="fa fa-clock-o"></i><span class="time">@{m.datecreated}</span></div>
		</div>
	@{end}
	</div>
@{fi}